<header class="main-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#template.html" class="navbar-brand">
          <b>OS</b>Tech</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a >Clientes
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a >Produtos</a>
          </li>
          <li>
            <a href="#/servicos">Serviços</a>
          </li>
          <li>
            <a >Ordens de Serviço</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Financeiro
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#/formaspgto">Formas de Pagamento</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Administrador
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/">Logout</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
